// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.my-products textarea {
  width: 100%;
  font-size: 1.1em;
  box-sizing: border-box;
}

.recipe {
  margin: 0px 10px 20px 10px;
}

#search-recipes {
  padding: 10px 10px;
  font-size: 1.1em;
  cursor: pointer;
}

.ingredients {
  margin: 0px;
  padding: 0px 20px;
}

.ingredients li {
  margin: 0px;
}
